body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #222;
    line-height: 1.6;
}
.first{
    background-image: url();
    
}

.hero {
    background-image: url(https://res.cloudinary.com/ddpty45xw/image/upload/v1767455840/interactive_sub1_qfboul.jpg) ;
    padding: 80px 20px;
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-size: 38px;
}

.content-section {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

.content-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.gallery-section {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
}

.gallery-section h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

/* GRID IMAGES */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    margin: 25px 0;
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px; */
}

.image-grid img {
    width: 100%;
    height: 400px;
    border-radius: 6px;
}

/* BUTTON */
.primary-btn {
    background: #0c4a6e;
    color: white;
    padding: 14px 26px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.primary-btn:hover {
    background: #0a3b57;
}

/* FULL-WIDTH IMAGE */
.full-width-img {
    width: 100%;
    border-radius: 6px;
    margin: 25px 0;
}

/* LEARN MORE LINK */
.learn-more {
    display: block;
    margin: 15px 0;
    text-align: center;
    color: #0c4a6e;
    font-weight: bold;
}

.learn-more:hover {
    text-decoration: underline;
}
.video{
    width: 30%;
    height: 300px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .hero h1 {
        font-size: 28px;
    }
}




